version: '3'

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge

services:
  mysql:
    image: mysql:5.7
    command:
      - mysqld
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    environment:
      - MYSQL_DATABASE=jingsaas
      - MYSQL_USER=jingfree
      - MYSQL_PASSWORD=passw0rd
      - MYSQL_ROOT_PASSWORD=passw0rd
      - TZ="Asia/Shanghai"
    volumes:
      - "./mysql/data:/var/lib/mysql"
      - "./mysql/conf:/etc/mysql/conf.d"
      - "./mysql/init:/docker-entrypoint-initdb.d"
    networks:
      - backend
  mongo:
    image: mongo:3.4.2
    command:
      - mongod
    ports:
      - "47017:27017"
    volumes:
      - "./mongo/data:/data/db"
    networks:
      - backend
  redis:
    image: redis:alpine
    networks:
      - backend
  php-fpm:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/php-publication:1.8.8
    links:
      - mysql
      - redis
      - mongo
    env_file:
      - ./php/jingsaas.env
    cap_add:
      - "SYS_PTRACE"
    volumes:
      - "../jing-saas/supervisor/:/etc/supervisor.d"
      - "../jing-saas/:/var/www/html"
      - "../piwik/:/var/www/piwik"
      - "../freecart/:/var/www/freecart"
      - "../jingweb/:/var/www/jingweb"
    networks:
      - backend
  php-publication:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/php-publication:1.8.8
    links:
      - mysql
      - redis
      - mongo
    cap_add:
      - "SYS_PTRACE"
    volumes:
      - "../xingstation-publication/supervisor:/etc/supervisor.d"
      - "../xingstation-publication/:/var/www/html"
    networks:
      - backend
  php-api:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/php-publication:2.0
    links:
      - mysql
      - redis
    cap_add:
      - "SYS_PTRACE"
    volumes:
      - "../xingstation-api/supervisor:/etc/supervisor.d"
      - "../xingstation-api/:/var/www/html"
    networks:
      - backend
  php-shop:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/php-publication:1.8.8
    links:
      - mysql
      - redis
    extra_hosts:
      - "github.com:101.95.12.138"
    cap_add:
      - "SYS_PTRACE"
    volumes:
      - "../xingstation-shop/:/var/www/html"
    networks:
      - backend
  php-cms:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/php-publication:1.8.8
    links:
      - mysql
      - redis
      - mongo
    cap_add:
      - "SYS_PTRACE"
    volumes:
      - "../xingstation-cms/supervisor:/etc/supervisor.d"
      - "../xingstation-cms/:/var/www/html"
    networks:
      - backend
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - mysql:db
    networks:
      - backend
    external_links:
      - mysql:mysql
    volumes:
      - "./phpmyadmin/sessions:/sessions"
  laravel-echo-server:
    image: registry.cn-hangzhou.aliyuncs.com/image_home/laravel-echo-server:1.2
    volumes:
      - ./laravel-echo-server/laravel-echo-server.json:/app/laravel-echo-server.json:ro
    ports:
      - "6001:6001"
    links:
      - redis
      - openresty
    networks:
      - frontend
      - backend
  openresty:
    image: openresty/openresty:xenial
    links:
      - php-fpm
      - php-publication
      - php-api
      - php-shop
      - phpmyadmin
      - php-cms
    depends_on:
      - redis
      - php-fpm
      - php-publication
      - php-api
      - php-cms
    ports:
      - "10.47.99.65:80:80"
      - "443:443"
    volumes:
      - "./nginx/logs:/usr/local/openresty/nginx/logs"
      - "./nginx/conf:/usr/local/openresty/nginx/conf"
      - "./nginx/cert/newgls:/usr/local/openresty/nginx/cert/"
      - "../jing-saas/:/var/www/html"
      - "../piwik/:/var/www/piwik"
      - "../freecart/:/var/www/freecart"
      - "../jingweb/:/var/www/jingweb"
      - "../xingstation_activity/:/var/www/xingstation_activity"
      - "../actiview-official/:/var/www/actiview-official"
      - "../xingstation-api/:/var/www/xingstation-api"
      - "../xingstation-publication/:/var/www/xingstation-publication"
      - "../xingstation-web/:/var/www/xingstation-web"
      - "../xingstation-shop/:/var/www/xingstation-shop"
      - "../xingstation-process-mana/:/var/www/xingstation-process-mana"
      - "../xingstation-shop-m/:/var/www/xingstation-shop-m"
      - "../phpmyadmin/:/var/www/phpmyadmin"
      - "../xingstation-cms/:/var/www/xingstation-cms"
    environment:
      - SERVER_NAME
    external_links:
      - phpmyadmin:phpmyadmin
    networks:
      frontend:
        aliases:
          - ebank.jingfree.top
      backend:
        aliases:
          - ebank.jingfree.top
          - papi.newgls.cn
